* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
p{
  margin-bottom:0px !important;
}
.containerHeader,.sectionContent,.containerFooter{
  font-family: "Roboto", sans-serif;
}
h3{
  font-style: normal;
  font-weight: 1000 !important;
  font-size: 28px !important;
  line-height: 33px !important;
}
/*------------------Header--------------------------------*/
nav{
  width: 100%;
  height: 90px;
  padding: 0;
}
.imgLogoSTHome-Header{
  width: 100%;
}
.navbar,.col-lg-2, .col-md-2,.col-lg-6,.col-md-5,.col-lg-3{
  padding: 0 !important;
}
.navbar-nav{
  margin-left: auto;
}
.containerHeader{
  padding: 0 !important;
  font-weight: 1000;
  font-size: 18px;
  line-height: 21px;
}

.Filter{
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
  color:rgb(153, 153, 153);
  background: #FFFFFF;
  box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-left: 10%;
}
.fa-calendar,#datepicker,.fa-users{
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  border-style: none;
  color:rgb(153, 153, 153);
}
#datepicker{
  width: 25%;
  font-size: 20px;
  line-height: 16px;
}
.txtSearch{
  width: 34%;
  height: 100%;
  border-style: none;
  vertical-align: middle;
  padding-left:15px ;
  border-radius: 10px;
}
.filterPeople{
  height: 100%;
  width: 21%;
}
.filterPeople > button{
  padding-left: 0px;
  padding-right: 0px;
  color: #666666;
  background: #FFFFFF;
  border: none;
  font-size: 14px;
  line-height: 16px;
  margin:0px;
}
.fa-users{
  margin: 0px;
  color:#666666 !important;
  font-size: 20;
}
.btnSearch{
  display: inline-flex !important;
  vertical-align: middle;
  margin: 0px !important;
  width: 12% !important;
}
ul > li{
  margin-left: 10px;
}
li > a{
  padding-right: 0 !important;
  color: black !important;
}
li > a:hover{
  color: #A45E4A !important;
}
.filterPeople > button:hover,.filterPeople > button:focus,button > i:hover{
  background:#A45E4A !important;
  color: white !important;
  transition: 0.6s;
  outline: none;
}
@media  only screen and (max-width: 990px){
  nav{
      height: 70px;
  }
  .Filter{
      margin-left: -70px;
  }
}
@media  only screen and (max-width: 768px){
  .row{
      padding-left: 12px;
      padding-right: 12px;
  }
  .Filter{
      margin-right: -70px;
  }
  #datepicker {
      margin-left: 0;
  }
  .navbar > button {
      margin-right: 10px;
  }
  .imgLogoSTHome-Header{
      height: auto;
  }
}
@media  only screen and (max-width: 575px){
  nav{
      padding-top: 10px !important;
  }
  .imgLogoSTHome-Header{
      margin-left: 25%;
      height: auto;
  }
  .txtSearch{
      width: 30%;
  }
  .filterPeople{
      margin-right: 5%;
  }
  .Filter{
      width: 120%;
      margin-left: -55%;
      height: auto;
  }
  .navbar > button {
      position: absolute;
      top: 19px;
      left: 85%;
      height: 29px;
      width: 29px;
  }
  .navbar-toggler-icon{
      margin-top: -7px;
      margin-left: -13px;
  }
}
@media  only screen and (max-width: 375px){
  #datepicker,.filterPeople,.btnSearch{
      display: none !important;
  }
  .txtSearch{
      width: 100%;
  }
}
/*----------------------Banner--------------------------*/
.sectionBanner{
  overflow: hidden;
  height: 630px;
  position: relative;
}
.background {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rebeccapurple;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}

.side-indicator {
  height: 70%;
  top: 15%;
  left: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #afbad3;
  opacity: 0.7;
}

.index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afbad3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.7s ease, width 0.7s ease;
}

.index p {
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  z-index: 9;
}

.active {
  height: 30px;
  width: 30px;
}

.active p {
  opacity: 1;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  width: 60%;
}

.text {
  padding-left: 300px;
  padding-right: 100px;
}

#title {
  overflow: hidden;
  width:450pc;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.text h4 {
  font-family: "Oswald";
  font-size: 120px;
  color: white;
  position: relative;
}

#description {
  overflow: hidden;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#description p {
  margin-top:1px;
  color: white;
  font-size: 12px;
  max-height: 55px;
  opacity: 0.8;
  position: relative;
}

.btn {
  width: 150px;
  background-color: #25609f;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 60px;
  justify-content: space-evenly;
  cursor: pointer;
}

.btn p {
  color: white;
  font-size: 18px;
}

.btn i {
  color: white;
}

.glideBanner {
  width: 40%;
}

.glideBannerCover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  cursor: default;
}

.slide {
  height: 500px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  flex-shrink: 0;
}

.slider-image {
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}

.glide__slide--active .slider-image {
  height: 400px !important;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide p {
  color: white;
  font-size: 14px;
}

.rating {
  display: flex;
  width: 60px;
  padding: 8px 0;
  justify-content: space-between;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.bookmark {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.controlsBanner {
  width: 710px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -280px;
  left: -30px;
  z-index: 1;
}

.controlsBanner div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.5s;
}

.controlsBanner div:active {
  transform: scale(0.6);
}

.controlsBanner i {
  color: gray;
  font-size: 30px;
  cursor: pointer;
}

@media  only screen and (max-width: 1600px){
  nav{
    padding: 25px 80px;
  }
  .side-indicator {
    width: 200px;
  }
  .text-wrapper {
    width: 50%;
  }
  .glideBanner {
    width: 50%;
  }
  .text {
    padding-left: 200px;
  }
  .text h4 {
    transform: scale(0.8);
    transform-origin: left;
  }
  .btn {
    width: 120px;
  }
  .btn p {
    font-size: 14px;
  }
}

@media  only screen and (max-width: 1300px){
  nav{
    padding: 25px 40px;
  }
  .text h4 {
    transform: scale(0.6);
    transform-origin: left;
  }
  .slide {
    height: 400px;
    width: 220px;
  }
}

@media  only screen and (max-width: 1200px){
  .side-indicator {
    width: 120px;
  }
  .text{
    padding-left: 120px;
  }
  .content {
    flex-direction: column;
  }
  .text-wrapper {
    width: 100%;
  }
  .glideBanner {
    width: 100%;
    padding-left: 120px;
    padding-top: 40px;
  }
  .btn {
    margin-top: 30px;
  }
  .slide {
    height: 300px;
    width: 200px;
  }
  .slider-image {
    height: 220px;
  }
  .slide p {
    font-size: 12px;
  }
}
@media  only screen and (max-width: 768px)
{
  body{
    width:140%;
  }
  canvas{
    width:100%;
  }
}
/*----------------------------Content---------------------------*/
.sectionContent{
  width: 1170px;
  margin: auto;
}
.sayHello{
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #A45E4A;
}
/*-------------------------Hotlocal--------------------------------*/
.slideHotlocal{
  width:100%;
  height:330px;
}
#carousel-inner-hotLocal{
  height:100%;
}
.rowhotLocal{
  width: 100%;
  margin-top:20px;
}
.hotLocal > p{
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}
.carousel-control-prev,.carousel-control-next{
  background: #D6D6D6;
  clip-path: circle(50%); 
  height: 4em !important;
  width: 4em !important;
  margin-top: 150px;
  margin-left:-20px;
  margin-right:-20px;
}
.cardHotlocal{
  background-image: url('https://cdn1.img.vn.sputniknews.com/img/301/85/3018543_0:120:1920:1159_1000x541_80_0_0_6a1681a4eb6b45492e30dee3b4a8f620.jpg') ;
  background-size: 270px 297px;

  width: 270px !important;
  height: 297px !important;
  margin: 10px ;
  border-radius: 15px 15px 15px 15px !important;
  border-style: none !important;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 21px;
}
.cardHotlocal > h5{
  margin-top: 221px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.countSlot{
  font-size: 18px;
  line-height: 21px;
}
/*--------------------------------An tâm lưu trú---------------------------------*/
.stayat > .StayatLocal{
  margin-top: 60px;
}
.StayatLocal h3{
  margin-bottom: 20px;
}
.StayatLocal > .glide{
  height: 310px;
}
.cardStayAt{
  width: 270px;
  height: 336px;
}
.cardStayAt > img{
  width: 270px;
  height: 202px;
  border-radius: 15px 15px 0px 0px;
}
.cardStayAt > div{
  padding:0px;
  background: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
}
.controlsStayAt{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1230px;
  top:-220px;
  left: -30px;
}
.controlsStayAt div{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 0.5s;
}
.controlsStayAt i{
  color: gray;
  font-size: 30px;
  cursor: pointer;
}
/*--------------------------------Promote---------------------------------*/
.promote{
  margin-top: 60px;
}
.ContentPromote{
  margin-top: 55px;
}
.carouselPromote{
  height:100%;
}
.colContentPromote{
  padding-left: 0px !important;
}
.SlideimgPromote{
  width: 770px;
  height: 220px;
}
.ControlsNextPromote{
  margin-top: 77px;
}
.rowItemPromote{
  margin-right: -10px !important;
}
/*-----------------------Blog--------------------------------*/
.rowBlog{
  width: 100%;
}
/* Style the tab */
.blog{
  width: 1169px;
  margin: auto;
  align-items: center;

}

/* Style the buttons that are used to open the tab content */
/* Style the tab */
.tab {
  float: left;
  width: 470px;
  height: 500px;
}
.coltabButton{
    height: 90%;
}
.colcontentButton > div{
  padding: 0px;
}
.tabcontent > p{
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #333333;
}
.tabcontent > p ~ p{
  font-size: 18px;
  line-height: 25px;
  color: #666666;
}
.tabcontent img{
  width: 100%;
  height: 285px;
}
/* Style the buttons inside the tab */
.tab button {
  /* display: block; */
  color: black;
  padding: 0px 16px;
  width: 100%;
  height: 24.8%;
  padding: -10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
}
.seeMore{
  height: 10% !important;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(231, 234, 237);
}
.tab button:focus {
  outline: none;
}
/* Create an active/current "tab button" class */
.tab button.active {
  background-color: rgb(187, 118, 93);
}

/* Style the tab content */
.tabcontent {
  /* float: left; */
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 100%;
  height: 90%;
  border-radius: 15px 15px 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.06);
}
/*--------------------------------Footer------------------------------------*/
footer{
  height: 400px;
  
}
.rowFooter{
padding-top: 50px;
color: rgb(112, 112, 112);
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}
.Follow > i{
margin-right: 20px !important;
font-size: 50px;
text-decoration: none !important;
border-radius: 200%;
background-color: white;
}
.fa:hover{
opacity: 0.8;
}
.Follow > i:hover{
opacity: 0.8;
}
.LogoSTHome-footer{
width: 200px;
height: 48px;
}
.contact > p{
margin-top: 39px;
margin-bottom: 25px !important;
}
.contact > i{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}
.contact > i::before{
Font-size: 40px;
}
.Follow > p{
margin-top: 29px;
}
.loveHomeStay > p,.loveSpace > p,.aboutUs > p{
margin-bottom: 29px;
}
.fa-phone-volume{
color: rgb(112, 112, 112);
}
.colfooter > h2{
color: black;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}
/*---------------Bình an vui sống--------------*/
