*{
    font-family: "Roboto";
}
.HeaderHost3{
    border-bottom: 1px solid #999999;
}
.containerHeader{
    height: 100%;
    padding: 0% ; 
}
.rowHeader{
    height: 100%;
    align-items: center;
}
.collapse.show{
    display: flex;
}
.navbar-nav a:first-child{
    color: #A45E4A !important;
    font-weight: bold;
    border-bottom: 4px solid #A45E4A;
    padding-bottom: 5px;
}
.navbar-nav a:nth-child(2){
    margin-left: 2px;
}
.navbar-nav a:nth-child(2):hover{
    color: #A45E4A !important;
    font-weight: bold;
    border-bottom: 4px solid #A45E4A;
    padding-bottom: 5px;
}
.colButton button{
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #CB846F 0%, #A45E4A 100%);
    border-radius: 6px;
    color: white;
    border: 1px solid white;
}
.colAccount{
    padding: 0;
}
.navbar-nav{
    width: 100%;
    align-items: center;
}
.nav-link.colButton{
    margin-left: auto;
}
@media only screen and (max-width:992px){
    .nav-link.colButton {
        margin-right: auto !important;
        margin-left: 0;
    }
    .navbar-nav {
        align-items: flex-start;
    }
}
/* CONTENT  */
.contentHost{
    padding:0;
}
.row__header{
    margin: 50px 0 30px;
    
}
.col__header{
    padding: 0;
}
.form_home:focus{
    outline: none !important;
    border: 1px solid green !important;
}
.txtfindID{
    position: relative;
}
#txtfindID {
    width: 100%;
    height: 40px;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0 10px;
}
.txtfindID .logoSearch{
    position: absolute;
    right: 0;
    padding: 8px 10px;
}
.row__table{
    margin: 30px auto;
}
.col__table{
    padding: 0;
}
.tableInfor img{
    width: 100px;
    padding-right: 10px;
}
.tableInfor button{
    width: 100%;
    height: 40px;
    border: 2px solid #A45E4A;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: white;
    color: #A45E4A;
}
button:focus{
    outline: none;
}
.table td, .table th {
    vertical-align: top;
}
/* Responsive table*/
@media screen and (max-width: 800px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    .table, .table tbody, .table tr, .table td{
      display: block;
      width: 100%;
    }
    .table tr{
      margin-bottom: 15px;
    }
    .table td{
      text-align: right;
      padding-left: 50%;
      text-align: right;
      position: relative;
    }
    .table td::before{
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
    .table tbody tr:nth-child(even){
        background-color: #fde9e0 ;
      }
  }