*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

input[type=text],input[type=password]{
    font-size: 30px;
    line-height: 16px;
}
input {
    text-align: left;
  }
  ::-webkit-input-placeholder {
    text-align: right;
    color: #666666;
  }
  :-moz-placeholder {
    text-align: right;
  }
[href]{
    color: #A45E4A;
}
.HeaderLogin{
    height: 90px;
}
.container{
    padding: 0px !important;
    margin: 0px auto !important;
    max-width: 1170px !important;
}
.containerHeader{
    height: 100%;
    /* padding: 0px; */
}
.rowHeader{
    height: 100%;
    align-items: center;
}
.rowHeader > div{
    padding: 0px;
}
.colHRL{
    display: flex;
}
.colHRL > a{
    margin-left: 20px;
    color: #666666;;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.colHRL > a:hover{
    text-decoration: none;
    color: #A45E4A;
}
.flat{
    height: 239px;
    background: linear-gradient(180deg, #A45E4A 0%, #CC8672 100%);
}
.colContent {
    width: 670px;
    height: 93px;
    margin-top: 81px;
    color: white;
    margin-left: 40px;
}
.firstContent{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.secondContent{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.containerMain,.rowMain{
    height: 768px;
}
.cardLogin{
    padding: 0px;
}
.card{
    width: 370px;
    height: 642px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    margin-top: -174px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.Maincontent{
    width: 310px;
    height: 650px;
    margin-top: 50px;
    color: #666666;
    font-size: 14px;
    line-height: 16px;
}
.contentInfo{
    width: 100%;
    height: 80px;
    margin-bottom: 24px;
}
.contentInfo > p{
    margin: 0px;
}
.btnLogin{
    text-align: center;
    width: 100%;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    margin-bottom: 24px;
    background: linear-gradient(90deg, #CF8874 0%, #A45E4A 100%);
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.InputContent{
    margin-top: 14px;
    height: 50px;
    width: 100%;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 10px;
}
.contentInfo-scrip{
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}

.Contentpromote{
    width: 770px;
    height: 468px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.Contentpromote > div{
    width: 370px;
    height: 219px;
    background: #FFFFFF;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 15px;
}
.carPromote{
    width: 370px;
    height: 214px;
    background: #FFFFFF;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 6px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.imgPromote{
    width: 70px;
    height: 70px;
    margin-top: 4px;
}
.titlePromote{
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.titleLogin{
    margin-bottom: 0px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}
.descriptLogin{
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.FooterLogin{
    height: 60px;
    text-align: center;
}
.FooterLogin > p{

    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}