* {
  font-family: "Roboto", sans-serif;
}
.color {
  background: #e5e5e5;
}
header {
  background: #f3f3f3;
}
.containerHeader{
  height: 100%;
  padding: 0% ; 
}
.rowHeader{
  height: 100%;
  align-items: center;
}
.profile{
  margin-left: auto;
}
.collapse.show{
  display: flex;
}

/* Thuộc tính Cài đặt tài khoản*/
.navbar-nav a:nth-child(1){
  margin-right: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
/* Hiệu ứng cho Cài đặt tài khoản*/
.navbar-nav a:nth-child(1):hover,.navbar-nav a:nth-child(2):hover{
  color: #A45E4A !important;
  font-weight: bold;
  border-bottom: 3px solid #A45E4A;
  padding-bottom: 5px;
}
.contentId{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  margin-left: auto;
  /* display: flex;
  flex-wrap: wrap;
  max-height: 35rem; */
}
.contentName{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap;
  max-height: 35rem;*/
}
.navbar-nav{
  width: 100%;
  align-items: center;
}
@media only screen and (max-width: 991px){
  .navbar-nav{
      width: auto;
      align-items: center;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: block;
  }
  .maleFemale{
      display: none;
  }
  .cardGuest1{
      display: none;
  }
}
.infoID{
  padding-top: 22px;
}
.headingRest > p {
  width: 135px;
  height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #333333;
}
.toolBar {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.cmbbAllrest {
  width: 90%;
  margin-left: 5%;
}
.headingInfor {
  display: inline-flex;
}

#formSearchID {
  width: 90%;
  margin-left: 5%;
}

.cmbbAllrest {
  margin-top: 4%;
  border: hidden;
  background: #e5e5e5;
}
.inputDate {
  margin-top: 3%;
  margin-left: 1%;
}
.colLogo {
  display: inline flex;
}
/* end header */
/* nhập input ngày tháng */
.inputDate > input {
  border: hidden;
  color: #999999;
  background: #e5e5e5;
}
/* khung có input và hình search ID */
.txtfindID {
  margin-top: 3%;
  margin-left: 4%;
  display: flex;
}
/*  ổ nhập ID */
#txtfindID {
  border: hidden;
  background: #e5e5e5;
  width: 90%;
}
/* chỉnh viền khung, kích cỡ cho các form */
.width1 {
  height: 50px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 10px;
}
/* kích thước hình trong table */
.tableInfor > tbody > tr > td > img {
  width: 100px !important;
  height: 66px !important;
}
/* chỉnh icon tìm kiếm nằm trong form lúc thu nhỏ */
@media only screen and (max-width: 991px) and (min-width: 376px){
  .logoSearch{
    margin-left: 40%;
  }

}
/* chỉnh cho ô nhập ngày tháng nằm trong form  */
@media only screen and (max-width: 376px){
  .inputDate>input{
    width: 35%;
  }
  /* .inputDate{
    font-size: smaller;
  } */
}
/* chỉnh khoản cách giữa các form khi thi nhỏ màn hình lại */
@media only screen and (max-width: 991px){
  .width1{
    margin-top: 3%;
    margin-bottom: 3%;
  }
  table{
    font-size: 2vw;
    text-align: center;
  }
  /* Responsive table*/
@media screen and (max-width: 800px) {

  table {
    border: 0;
  }

  table thead {
    display: none;
  }

  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table td{
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before{
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
  .table tbody tr:nth-child(even){
    background-color: #fde9e0 ;
  }
}


