/* chỉnh cho cả bài */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
/* heaeder của bài 
thanh navbar */
header {
  background: #f3f3f3;
}
.HeaderHost3 {
  border-bottom: 1px solid #999999;
}
.containerHeader {
  height: 100%;
  padding: 0%;
}
.rowHeader {
  height: 100%;
  align-items: center;
}
.collapse.show {
  display: flex;
}
.colLink a {
  padding: 0 10px;
  color: #333333;
  text-decoration: none;
}
.colLink a:first-child {
  color: #a45e4a;
  font-weight: bold;
  border-bottom: 4px solid #a45e4a;
  padding-bottom: 32px;
}
.colButton button {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #cb846f 0%, #a45e4a 100%);
  border-radius: 6px;
  color: white;
  border: 1px solid white;
}
.colAccount {
  padding: 0;
}
.navbar-nav {
  width: 100%;
  align-items: center;
}
.nav-link.colButton {
  margin-left: auto;
}
/* chỉnh vào body của bài */
.body {
  background: #f3f3f3;
}
/* khoản cách từ body tới heading */
.containerMainBody > div {
  padding-top: 50px;
}

.settingAcc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}
.inforImg {
  width: 100%;
  left: 135px;
  top: 515px;

  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 15px 15px;
}
.nameAcc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  padding-top: 11.65px;
  margin-left: 20px;
}
.emailAcc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: 20px;
}
.inforPersonal {
  color: #a45e4a;
  background-color: #d1ab9a;
  padding-top: 11px;
  padding-left: 24px;
  margin-bottom: 0px;
}
.checkIn {
  width: 73px;
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-left: 24px;
  margin-top: 11px;
}
.fontSettingacc {
  padding-top: 61px;
  width: 100%;
}
.imgHost {
  width: 100%;
}

/* form tạo thông tin cá nhân */
.personalInfor {
  padding-left: 30px;
  padding-top: 90px;
}
/* chữ Thông tin cá nhân */
.headerInfor {
  width: 225px;
  height: 33px;
  left: 539px;
  top: 239px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #333333;
}
/* form Họ & tên */
.formName {
  margin-top: 30px;
}
/* chữ Họ tên */
.nameInfor {
  width: 103px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
}
/* form nhập họ tên */
.formTextname {
  width: 100%;
  height: 50px;
  left: 535px;
  top: 358px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
  margin-bottom: 0px;
}
/* nhập họ và tên */
.formTextname > input {
  width: 100%;
}

/* nhập địa chỉ email */
.formEmail {
  margin-top: 30px;
}
/* chữ Địa chỉ email */
.emailInfor {
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
/* form nhập email */
.formTextemail {
  width: 100%;
  left: 535px;
  top: 358px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
  margin-bottom: 0px;
}
/* ô input email */
.formTextemail > input {
  width: 100%;
}
/* form số điện thoại và giới tính */
.form3 {
  display: inline-block;
  width: 100%;
}
/* form số điện thoại */
.left {
  width: 100%;
  height: 91px;
  left: 535px;
  top: 559px;
  margin-top: 30px;
  box-sizing: border-box;
}
/* chữ -Số điện thoại- */
.phoneNumbers {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  margin-bottom: 0px;
}
/* form nhập số điện thoại */
.formLeft {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
}

/* form giới tính */
.right {
  width: 100%;
  height: 91px;
  margin-top: 30px;
  box-sizing: border-box;
}
/* chữ -giới tính- */
.sex {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  margin-bottom: 0px;
}
/* ô chọn giới tính */
.formRight {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
}
/* dropdown giới tính */
.dropDown {
  width: 100%;
  border-style: hidden;
}
/* foprm Ngày sinh */
.birth {
  width: 100%;
  height: 91px;
  margin-top: 30px;
}
/* chữ Ngày sinh */
.dateOfbirth {
  width: 80px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
  margin-bottom: 0px;
}
/*form chọn ngày sinh */
.formBirth {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-flex;
  padding-left: 15px;
  align-items: center;
}
/* ô chọn  ngày */
.formBirth > p {
  margin-left: 20px;
  margin-bottom: 0px;
}
/* icon lịch */
.formBirth > img {
  width: 20px;
  height: 20px;
}
/* form chứng minh nhân dân */
.formCmnd {
  margin-top: 30px;
  width: 170px;
  height: 211px;
}
/* chữ chứng minh nhân dân */
.cmnd {
  width: 53px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
}
/* ô nhập input hình ảnh */
#cameraInput {
  width: 170px;
  height: 170px;
  text-align: center;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  align-items: center;
}
/* nút lưu cài đặt */
.saveSetting {
  width: 200px;
  height: 55px;
  border-radius: 8px;
  background: linear-gradient(90deg, #cb846f 0%, #a45e4a 100%) !important;
  padding-top: 13px;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-top: 15px;
}

/* footter của bài  */
.footerHost1 {
  height: 50px;
  text-align: center;
  border-top-width: 5px;
  background-color: #f3f3f3;
  position: sticky;
}

.footerHost1 > .copyright {
  text-align: center;
  padding-top: 10px;
}
/* định dạng responsive lại cho phần lỗi */
/* responsive cho button trên header */
@media only screen and (max-width: 992px) {
  .nav-link.colButton {
    margin-right: auto !important;
    margin-left: 0;
  }
  .navbar-nav {
    align-items: flex-start;
  }
}
/* responsive cho form số điện thoại và form ngày sinh*/
@media only screen and (min-width: 1199px) {
  .form3 {
    display: inline-flex;
  }
  .right {
    width: 50%;
  }
  .left {
    width: 50%;
  }
  .formLeft {
    width: 95%;
  }
}



/* Hiệu ứng cho Cài đặt tài khoản
.navbar-nav a:nth-child(1):hover,.navbar-nav a:nth-child(2):hover{
  color: #A45E4A !important;
  font-weight: bold;
  border-bottom: 3px solid #A45E4A;
  padding-bottom: 5px;
} */
