/*------------------Header--------------------------------*/
header{
    display: block;
  }
  nav{
    padding: 0 !important;
  }
  .form-inline {
    background: #FFFFFF;
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 500px;
  }
  button[type="submit"]{
    margin-top: 0;
  }
  input[name="daterange"]{
    width: 20% !important;
    background: url(./img/calendarIcon.png) no-repeat scroll 7px 7px;
    padding-left:30px;
  }
  input[type="search"]{
    background: url(./img/searchIcon.png) no-repeat scroll 7px 7px;
    padding-left:30px;
    width: 45% !important;
  }
  .btn.people{
    background: url(./img/peopleIcon.png) no-repeat scroll 7px 7px;
    padding-left:30px;
    margin-top: 0px;
  }
  .containerHeader{
    padding: 0 !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  .containerHeader nav{
    margin-bottom: 20px;
    padding-top: 20px !important;
  }
  .form-inline{
    margin-left: 5%;
  }
  .nav-link:hover{
    color: #A45E4A !important;
  }
  .navbar-collapse{
    margin-left: auto;
  }
  .btn.btn-dark{
    width: 12% !important;
    height: auto;
  }
  .navbar-brand-Intag{
    visibility: hidden;
  }
  @media only screen and (max-width: 1024px){
    .form-inline{
      margin-left: 5%;
  }
  }
  @media only screen and (max-width: 768px){
    .containerHeader nav{
      height: auto !important;
    }
    .form-inline{
      margin-left: 0%;
  }
  }
  @media only screen and (max-width: 414px){
    input[type="search"]{
      width: 80% !important;
    }
    .navbar-brand-hide{
        display: none !important;
    }
    .form-inline{
        margin-left: 0%;
        width: 80%;
    }
    .form-control{
        width: 80% !important;
    }
    .btn-outline-success{
        width: 20% !important;
    }
    .navbar-brand-Intag{
        visibility: visible;
    }
    .navbar-brand-Intag img{
        width: 170px;
    }
    input[name="daterange"],.btn.people{
        display: none;
    }
  }
/*---------------------------------------Banner-----------------------------------------*/
.arrowBanner{
    position: absolute;
    top: 170px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.arrowBanner button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    opacity: 0.9;
    font-size: 20px;
    color: white;
    background-color: #D6D6D6;
}
.arrowBanner > button:focus{
    outline: none;
}
/*---------------------------------------Filter-----------------------------------------*/
.containerContent{
    margin-top: 60px;
}
.btn.btn-outline-dark.dropdown-toggle{
    border-color: black;
    border-radius: 0;
}
.btn.btn-outline-dark.dropdown-toggle :hover{
    color: white ;
    outline-color: white;
}
@media (max-width: 992px){
  .category-Room,.category-Local,.category-Price{
    display: none;
  }
}
@media (max-width: 575px){
  .category-numRoom{
    display: none;
  }
  .arrowBanner{
    display: none;
  }
}
/*---------------------------------------Sort-----------------------------------------*/
.sort-countHome{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 3%;
  margin-top: 60px;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}
.countHome > p > b{
  color: #A45E4A;
}
@media (max-width: 414px){
  .sort-countHome{
    font-size: 1rem;
  }
}
/*----------------------------------------Card------------------------------------*/
.clear-rating{
    display: none !important;
}
.rating-container > .caption{
    display: none;
}
.cardStay{
  position: relative;
    background: #FFFFFF;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 15px 15px;
    margin-top: 40px;
}
.groupBooking{
    display: flex;
    justify-content: space-between;
}
.groupBooking a{
    border:none;
    background: linear-gradient(270deg, #A45E4A 0%, #CB846F 100%);
    padding-left: 5px;
    padding-right: 5px;
}
.card-title{
    font-weight: 500;
    font-size: 1rem;
    line-height: 21px;
    color: #333333;
}
.cardStay:hover {
    background: linear-gradient(270deg, #A45E4A 0%, #CB846F 100%);
    color: white;
    transform: translateY(-20px);
    transition: 0.6s ease-out;
}
.card-body a:hover{
  text-decoration: none;
  color: #FFB300;
}
.promotion{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: .75rem;
  background: #f65e39;
  color: #fff;
  border-radius: 1.5rem;
  letter-spacing: .5px;
  line-height: 1.375rem;
  padding: 0 .5rem;
}
@media (max-width:575px){
  .groupBooking a{
    display: none;
  }
  .card-body{
    padding: 0;
  }
  .cardStay p{
    margin-bottom: 0;
  }
  
}
/*---------------------------------Page navigation --------------------------------------*/
.Page.navigation{
  margin-top: 20px;
} 
.page-item a{
  color: #A45E4A;
}
/*--------------------------------Footer------------------------------------*/
footer{
    height: 400px;
    
}
.rowFooter{
  padding-top: 50px;
  color: rgb(112, 112, 112);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.Follow > i{
  margin-right: 20px !important;
  font-size: 50px;
  text-decoration: none !important;
  border-radius: 200%;
  background-color: white;
}
.fa:hover{
  opacity: 0.8;
}
.Follow > i:hover{
  opacity: 0.8;
}
.LogoSTHome-footer{
  width: 200px;
  height: 48px;
  margin-top: 20px;
}
.contact > p{
  margin-top: 39px;
  margin-bottom: 25px !important;
}
.contact > i{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.contact > i::before{
  Font-size: 40px;
}
.Follow > p{
  margin-top: 29px;
}
.loveHomeStay > p,.loveSpace > p,.aboutUs > p{
  margin-bottom: 29px;
}
.fa-phone-volume{
  color: rgb(112, 112, 112);
}
.colfooter > h2{
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.rowFoote > .col-lg-3{
      padding-left: 0 !important;
}
@media (max-width: 992px){
    .Follow > i{
        margin-right: 0px !important;
        font-size: 40px;
        }
}