* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

header {
  background: #f3f3f3;
}

.containerHeader {
  padding: 0px !important;
  margin: 0px auto !important;
  box-sizing: border-box;
  max-width: 1170px !important;
  text-align: center;
}

.rowOFheader {
  align-items: center;
  margin-top: 30px;
}

.Logo {
  display: inline-flex;
  align-items: center;
}

.Logo > div {
  padding-left: 10px;
}

div > .host_inf {
  display: flex;
}

.create_new_property {
  width: 192px;
  height: 50px;
  border-radius: 8px;
  /* padding: 10px 30px; */
  background: linear-gradient(90deg, #cb846f 0%, #a45e4a 100%);
  padding-top: 13px;
  color: white;
}

.img_host {
  border: 5px;
  border-radius: 50%;
  background-color: lightgrey;
  text-align: center;
  margin-left: 50px;
}

.body {
  background: #f3f3f3;
}

.personalInfor {
  padding-left: 30px;
  padding-top: 90px;
}

.containerMainBody > div {
  padding-top: 50px;
}

.settingAcc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}
.inforImg {
  width: 370px;
  height: 255.65px;
  left: 135px;
  top: 515px;

  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 15px 15px;
}
.nameAcc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  padding-top: 11.65px;
  margin-left: 20px;
}
.emailAcc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-left: 20px;
}
.inforPersonal {
  width: 370px;
  height: 48.7px;
  color: #a45e4a;
  background-color: #d1ab9a;
  padding-top: 11px;
  padding-left: 24px;
  margin-bottom: 0px;
}
.checkIn {
  width: 73px;
  height: 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
  margin-left: 24px;
  margin-top: 11px;
}
.fontSettingacc {
  padding-top: 61px;
}
.imgHost {
  width: 370px;
  height: 276.35px;
}
.headerInfor {
  width: 225px;
  height: 33px;
  left: 539px;
  top: 239px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: #333333;
}
.formName {
  margin-top: 30px;
}
.nameInfor {
  width: 103px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
}
.formTextname {
  width: 770px;
  height: 50px;
  left: 535px;
  top: 358px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
  margin-bottom: 0px;
}

.formEmail {
  margin-top: 30px;
}
.emailInfor {
  width: 103px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
}
.formTextemail {
  width: 770px;
  height: 50px;
  left: 535px;
  top: 358px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
  margin-bottom: 0px;
}

.form3 {
  display: inline-flex;
}
.left {
  width: 370px;
  height: 91px;
  left: 535px;
  top: 559px;
  margin-top: 30px;
  box-sizing: border-box;
}
.phoneNumbers {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  margin-bottom: 0px;
}
.formLeft {
  margin-top: 20px;
  width: 370px;
  height: 50px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
  display: inline-flex;
}
.formLeft > p {
  margin-left: 20px;
}

.right {
  width: 370px;
  height: 91px;
  left: 935px;
  top: 559px;
  margin-top: 30px;
  margin-left: 30px;
  box-sizing: border-box;
}
.sex {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  margin-bottom: 0px;
}
.formRight {
  margin-top: 20px;
  width: 370px;
  height: 50px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 14px;
}

.birth {
  width: 370px;
  height: 91px;
  left: 535px;
  top: 680px;
  margin-top: 30px;
}

.dateOfbirth {
  width: 80px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
  margin-bottom: 0px;
}
.formBirth {
  margin-top: 20px;
  width: 370px;
  height: 50px;
  border: 1px solid #999999;
  box-sizing: border-box;
  border-radius: 8px;
  display: inline-flex;
  padding-left: 15px;
  align-items: center;
}
.formBirth > p {
  margin-left: 20px;
  margin-bottom: 0px;
}
.formBirth > img {
  width: 20px;
  height: 20px;
}
.formCmnd {
  margin-top: 30px;
  width: 170px;
  height: 211px;
}
.cmnd {
  width: 53px;
  height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #666666;
}

.saveSetting {
  width: 200px;
  height: 55px;
  border-radius: 8px;
  background: linear-gradient(90deg, #cb846f 0%, #a45e4a 100%);
  padding-top: 13px;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-top: 15px;
}

.footerHost1 {
  height: 50px;
  text-align: center;
  border-top-width: 5px;
  background-color: #f3f3f3;
  position: sticky;
}

.footerHost1 > .copyright {
  text-align: center;
  padding-top: 10px;
}
