body {
    font-family: "Lato", sans-serif;
  }
  table { 
    border-radius: 1em !important;  
  }
  th{
    background: #D1AB9A;
  }
  .maintable{
    box-sizing: border-box;
    border-radius: 10px !important;
  }
  .HeaderLogin{
    height: 90px;
    border-left: 1px solid black;
    }
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .headerIcon{   
    border-radius: 50%;
    width: 80%;  
    

}
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: rgba(209, 171, 154, 1);
    color:white;
  }
  .closebtn:hover{
      background-color: white !important;
      color:red !important;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: rgba(164, 94, 74, 1);
    padding: 10px 15px;
    border: none;
  }
  
.containerHeader{
    
    height: 100%;
    padding: 0% ; 
}
.rowHeader{
    height: 100%;
    align-items: center;
    
}
/* Resposive header*/
@media screen and (max-width: 992px)
{
.headerIcon{
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 766px)
{
  
  .headerIcon{
  width: 30px;
  height: 30px;
}
}
}
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .wrapper {
    border:1px solid #000;
    display:inline-block;
    box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-top: 60px;    
    margin-bottom: 60px;
}
.nofiticationIcon
{
    border-radius:10%; 
}
.searchbox {
    background-color:transparent;
    border:0;
    width: 370px;
    height: 50px;
    

}
.searchbutton {
    background-color:transparent;
    border:0;   
}
 .revenueBox {
   margin-top: 40px;
   margin-left: 30px;
   margin-bottom: 100px;
 }
 .revenueText{
  color: rgba(164, 94, 74, 1);
  font-size: 48px;
  font-weight: 700;

 }
 
  /* Responsive thanh nav lề trái */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  @media screen and (max-width: 800px) {

    table {
      border: 0;
    }

    table thead {
      display: none;
    }

    .table, .table tbody, .table tr, .table td{
      display: block;
      width: 100%;
    }
    .table tr{
      margin-bottom: 15px;
    }
    .table td{
      text-align: right;
      padding-left: 50%;
      text-align: right;
      position: relative;
    }
    .table td::before{
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
    .table tbody tr:nth-child(even){
      background-color: #fde9e0 ;
    }
  }